In [32]:
# Data manipulation and analysis
# Import pandas for data manipulation and analysis
import pandas as pd
# Import numpy for numerical operations
import numpy as np

# Data visualization
# Import matplotlib for data visualization
import matplotlib.pyplot as plt
# Import seaborn for advanced visualizations
import seaborn as sns

# Machine learning
# Import train_test_split for splitting data into train/test sets
from sklearn.model_selection import train_test_split
# Import Linear Regression model from sklearn
from sklearn.linear_model import LinearRegression
# Import MSE for regression evaluation
from sklearn.metrics import mean_squared_error

# Statistical analysis
# Import scipy for statistical functions
from scipy import stats

# Database management
# Import sqlite3 for database operations
import sqlite3

# Web development
# Import Flask for web development
from flask import Flask, render_template

# Other useful libraries
import os
# Import warnings to suppress unnecessary alerts
import warnings

# Import warnings to suppress unnecessary alerts
# Ignore warnings
# Import warnings to suppress unnecessary alerts
warnings.filterwarnings('ignore')

# Display settings
# Adjust pandas display settings
pd.set_option('display.max_columns', None)
# Adjust pandas display settings
pd.set_option('display.max_rows', None)

In [ ]:
# Import pandas for data manipulation and analysis
import pandas as pd
import glob

# Step 1: Find the split part files
# Use glob to find file patterns for merging CSVs
csv_parts = sorted(glob.glob('/content/Amazon_Part_*.csv'))

# Step 2: Merge them
# Concatenate CSV files into a single DataFrame
df_combined = pd.concat([pd.read_csv(f) for f in csv_parts], ignore_index=True)

# Step 3: Save it under the original name
# Save the combined DataFrame as a CSV file
df_combined.to_csv('/content/Amazon Sale Report.csv', index=False)

print("âœ… Combined file saved as 'Amazon Sale Report.csv'")

In [33]:
# Load dataset using pandas
amazonsales_data = pd.read_csv('ecommerce datasets/Amazon Sale Report.csv')
# Preview the first few rows of the dataset
amazonsales_data.head()
# Print summary of the dataset
amazonsales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128975 entries, 0 to 128974
Data columns (total 24 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   index               128975 non-null  int64
 1   Order ID            128975 non-null  object
 2   Date                128975 non-null  object
 3   Status              128975 non-null  object
 4   Fulfilment          128975 non-null  object
 5   Sales Channel       128975 non-null  object
 6   ship-service-level  128975 non-null  object
 7   Style               128975 non-null  object
 8   SKU                 128975 non-null  object
 9   Category            128975 non-null  object
 10  Size                128975 non-null  object
 11  ASIN                128975 non-null  object
 12  Courier Status      122103 non-null  object
 13  Qty                 128975 non-null  int64
 14  currency            121180 non-null  object
 15  Amount              121180 non-null  float64
 16  ship-city           128942 non-null  object
 17  ship-state          128942 non-null  object
 18  ship-postal-code    128942 non-null  float64
 19  ship-country        128942 non-null  object
 20  promotion-ids       79822 non-null   object
 21  B2B                 128975 non-null  bool
 22  fulfilled-by        39277 non-null   object
 23  Unnamed: 22         79925 non-null   object
dtypes: bool(1), float64(2), int64(2), object(19)
memory usage: 22.8+ MB

In [34]:
# Load dataset using pandas
cloudwarehouse_data = pd.read_csv('ecommerce datasets/Cloud Warehouse Compersion Chart.csv')
# Preview the first few rows of the dataset
cloudwarehouse_data.head()
# Print summary of the dataset
cloudwarehouse_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   index       50 non-null     int64
 1   Shiprocket  21 non-null     object
 2   Unnamed: 1  41 non-null     object
 3   INCREFF     28 non-null     object
dtypes: int64(1), object(3)
memory usage: 1.7+ KB

In [35]:
from math import exp
# Load dataset using pandas
expenseiigf_data = pd.read_csv('ecommerce datasets/Expense IIGF.csv')
# Preview the first few rows of the dataset
expenseiigf_data.head()
# Print summary of the dataset
expenseiigf_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   index           17 non-null     int64
 1   Recived Amount  6 non-null      object
 2   Unnamed: 1      6 non-null      object
 3   Expance         15 non-null     object
 4   Unnamed: 3      17 non-null     object
dtypes: int64(1), object(4)
memory usage: 812.0+ bytes

In [36]:
# Load dataset using pandas
internationalsale_data = pd.read_csv('ecommerce datasets/International sale Report.csv')
# Preview the first few rows of the dataset
internationalsale_data.head()
# Print summary of the dataset
internationalsale_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37432 entries, 0 to 37431
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   index      37432 non-null  int64
 1   DATE       37431 non-null  object
 2   Months     37407 non-null  object
 3   CUSTOMER   36392 non-null  object
 4   Style      36392 non-null  object
 5   SKU        34958 non-null  object
 6   Size       36392 non-null  object
 7   PCS        36392 non-null  object
 8   RATE       36392 non-null  object
 9   GROSS AMT  36392 non-null  object
dtypes: int64(1), object(9)
memory usage: 2.9+ MB

In [37]:
# Load dataset using pandas
may2022_data = pd.read_csv('ecommerce datasets/May-2022.csv')
# Preview the first few rows of the dataset
may2022_data.head()
# Print summary of the dataset
may2022_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1330 entries, 0 to 1329
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   index           1330 non-null   int64
 1   Sku             1330 non-null   object
 2   Style Id        1330 non-null   object
 3   Catalog         1330 non-null   object
 4   Category        1330 non-null   object
 5   Weight          1330 non-null   object
 6   TP              1330 non-null   object
 7   MRP Old         1330 non-null   object
 8   Final MRP Old   1330 non-null   object
 9   Ajio MRP        1330 non-null   object
 10  Amazon MRP      1330 non-null   object
 11  Amazon FBA MRP  1330 non-null   object
 12  Flipkart MRP    1330 non-null   object
 13  Limeroad MRP    1330 non-null   object
 14  Myntra MRP      1330 non-null   object
 15  Paytm MRP       1330 non-null   object
 16  Snapdeal MRP    1330 non-null   object
dtypes: int64(1), object(16)
memory usage: 176.8+ KB

In [38]:
# Load dataset using pandas
plmarch2021_data = pd.read_csv('ecommerce datasets/P  L March 2021.csv')
# Preview the first few rows of the dataset
plmarch2021_data.head()
# Print summary of the dataset
plmarch2021_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1330 entries, 0 to 1329
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   index           1330 non-null   int64
 1   Sku             1330 non-null   object
 2   Style Id        1330 non-null   object
 3   Catalog         1330 non-null   object
 4   Category        1330 non-null   object
 5   Weight          1330 non-null   object
 6   TP 1            1330 non-null   object
 7   TP 2            1330 non-null   object
 8   MRP Old         1330 non-null   object
 9   Final MRP Old   1330 non-null   object
 10  Ajio MRP        1330 non-null   object
 11  Amazon MRP      1330 non-null   object
 12  Amazon FBA MRP  1330 non-null   object
 13  Flipkart MRP    1330 non-null   object
 14  Limeroad MRP    1330 non-null   object
 15  Myntra MRP      1330 non-null   object
 16  Paytm MRP       1330 non-null   object
 17  Snapdeal MRP    1330 non-null   object
dtypes: int64(1), object(17)
memory usage: 187.2+ KB

In [39]:
# Load dataset using pandas
salereport_data = pd.read_csv('ecommerce datasets/Sale Report.csv')
# Preview the first few rows of the dataset
salereport_data.head()
# Print summary of the dataset
salereport_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9271 entries, 0 to 9270
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   index       9271 non-null   int64
 1   SKU Code    9188 non-null   object
 2   Design No.  9235 non-null   object
 3   Stock       9235 non-null   float64
 4   Category    9226 non-null   object
 5   Size        9235 non-null   object
 6   Color       9226 non-null   object
dtypes: float64(1), int64(1), object(5)
memory usage: 507.1+ KB

In [40]:
# prompt: lets create a new data set from the datasets (Amazon Sale Report, Cloud Warehouse Compersion Chart, Expense IIGF, International sale Report, May-2022, P L March 2021, Sale Report) and call it data

# Concatenate CSV files into a single DataFrame
data = pd.concat([amazonsales_data, cloudwarehouse_data, expenseiigf_data, internationalsale_data, may2022_data, plmarch2021_data, salereport_data], ignore_index=True)
# Preview the first few rows of the dataset
data.head()
# Print summary of the dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178405 entries, 0 to 178404
Data columns (total 57 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   index               178405 non-null  int64
 1   Order ID            128975 non-null  object
 2   Date                128975 non-null  object
 3   Status              128975 non-null  object
 4   Fulfilment          128975 non-null  object
 5   Sales Channel       128975 non-null  object
 6   ship-service-level  128975 non-null  object
 7   Style               165367 non-null  object
 8   SKU                 163933 non-null  object
 9   Category            140861 non-null  object
 10  Size                174602 non-null  object
 11  ASIN                128975 non-null  object
 12  Courier Status      122103 non-null  object
 13  Qty                 128975 non-null  float64
 14  currency            121180 non-null  object
 15  Amount              121180 non-null  float64
 16  ship-city           128942 non-null  object
 17  ship-state          128942 non-null  object
 18  ship-postal-code    128942 non-null  float64
 19  ship-country        128942 non-null  object
 20  promotion-ids       79822 non-null   object
 21  B2B                 128975 non-null  object
 22  fulfilled-by        39277 non-null   object
 23  Unnamed: 22         79925 non-null   object
 24  Shiprocket          21 non-null      object
 25  Unnamed: 1          47 non-null      object
 26  INCREFF             28 non-null      object
 27  Recived Amount      6 non-null       object
 28  Expance             15 non-null      object
 29  Unnamed: 3          17 non-null      object
 30  DATE                37431 non-null   object
 31  Months              37407 non-null   object
 32  CUSTOMER            36392 non-null   object
 33  PCS                 36392 non-null   object
 34  RATE                36392 non-null   object
 35  GROSS AMT           36392 non-null   object
 36  Sku                 2660 non-null    object
 37  Style Id            2660 non-null    object
 38  Catalog             2660 non-null    object
 39  Weight              2660 non-null    object
 40  TP                  1330 non-null    object
 41  MRP Old             2660 non-null    object
 42  Final MRP Old       2660 non-null    object
 43  Ajio MRP            2660 non-null    object
 44  Amazon MRP          2660 non-null    object
 45  Amazon FBA MRP      2660 non-null    object
 46  Flipkart MRP        2660 non-null    object
 47  Limeroad MRP        2660 non-null    object
 48  Myntra MRP          2660 non-null    object
 49  Paytm MRP           2660 non-null    object
 50  Snapdeal MRP        2660 non-null    object
 51  TP 1                1330 non-null    object
 52  TP 2                1330 non-null    object
 53  SKU Code            9188 non-null    object
 54  Design No.          9235 non-null    object
 55  Stock               9235 non-null    float64
 56  Color               9226 non-null    object
dtypes: float64(4), int64(1), object(52)
memory usage: 77.6+ MB

In [41]:
# prompt: append it to a new csv called called e-commerce.

# Import pandas for data manipulation and analysis
import pandas as pd

# Assuming 'data' DataFrame from the previous code is available

# Save the DataFrame to a CSV file
# Import os for operating system related operations
data.to_csv('e-commerce.csv', index=False, mode='a', header=not os.path.exists('e-commerce.csv'))

In [42]:
# Import scipy for statistical functions
import scipy.stats as stats

# Load the combined dataset
# Load dataset using pandas
ecom = pd.read_csv('e-commerce.csv')

# Function to analyze a column
def analyze_column(df, col_name):
    description = {}
    description['Column Name'] = col_name

    # Number of empty rows
    description['Empty Rows'] = df[col_name].isnull().sum()

    # Data Type
    description['Data Type'] = df[col_name].dtype

    # Range (min, max) for numeric columns
    if pd.api.types.is_numeric_dtype(df[col_name]):
        description['Min'] = df[col_name].min()
        description['Max'] = df[col_name].max()
        description['Mean'] = df[col_name].mean()
        description['Median'] = df[col_name].median()

        # Mode (handling single and multiple modes)
        mode_result = stats.mode(df[col_name], keepdims=True)  # Ensure it returns an array
        description['Mode'] = mode_result.mode[0] if mode_result.mode.size > 0 else None

        if mode_result.mode.size > 1:
            description['Other Modes'] = list(mode_result.mode[1:])

    # Unique values for non-numeric columns
    elif pd.api.types.is_object_dtype(df[col_name]):
        description['Unique Values'] = df[col_name].unique()

    return description

# Analyze each column
column_analyses = [analyze_column(ecom, col) for col in ecom.columns]

# Create a DataFrame from the analysis results
analysis_df = pd.DataFrame(column_analyses)
analysis_df

,Column Name,Empty Rows,Data Type,Min,Max,Mean,Median,Mode,Unique Values
0,index,0,int64,0.0,128974.0,50797.396020,39772.000000,0.0,NaN
1,Order ID,49430,object,NaN,NaN,NaN,NaN,NaN,"[405-8078784-5731545, 171-9198151-1101146, 404..."
2,Date,49430,object,NaN,NaN,NaN,NaN,NaN,"[04-30-22, 04-29-22, 04-28-22, 04-27-22, 04-26..."
3,Status,49430,object,NaN,NaN,NaN,NaN,NaN,"[Cancelled, Shipped - Delivered to Buyer, Ship..."
4,Fulfilment,49430,object,NaN,NaN,NaN,NaN,NaN,"[Merchant, Amazon, nan]"
5,Sales Channel,49430,object,NaN,NaN,NaN,NaN,NaN,"[Amazon.in, Non-Amazon, nan]"
6,ship-service-level,49430,object,NaN,NaN,NaN,NaN,NaN,"[Standard, Expedited, nan]"
7,Style,13038,object,NaN,NaN,NaN,NaN,NaN,"[SET389, JNE3781, JNE3371, J0341, JNE3671, SET..."
8,SKU,14472,object,NaN,NaN,NaN,NaN,NaN,"[SET389-KR-NP-S, JNE3781-KR-XXXL, JNE3371-KR-X..."
9,Category,37544,object,NaN,NaN,NaN,NaN,NaN,"[Set, kurta, Western Dress, Top, Ethnic Dress,..."
10,Size,3803,object,NaN,NaN,NaN,NaN,NaN,"[S, 3XL, XL, L, XXL, XS, 6XL, M, 4XL, 5XL, Fre..."
11,ASIN,49430,object,NaN,NaN,NaN,NaN,NaN,"[B09KXVBD7Z, B09K3WFS32, B07WV4JV4D, B099NRCT7..."
12,Courier Status,56302,object,NaN,NaN,NaN,NaN,NaN,"[Shipped, Cancelled, Unshipped, nan]"
13,Qty,49430,float64,0.0,15.0,0.923880,1.000000,1.0,NaN
14,currency,57225,object,NaN,NaN,NaN,NaN,NaN,"[INR, nan]"
15,Amount,57225,float64,0.0,5584.0,641.511830,613.000000,NaN,NaN
16,ship-city,49463,object,NaN,NaN,NaN,NaN,NaN,"[MUMBAI, BENGALURU, NAVI MUMBAI, PUDUCHERRY, C..."
17,ship-state,49463,object,NaN,NaN,NaN,NaN,NaN,"[MAHARASHTRA, KARNATAKA, PUDUCHERRY, TAMIL NAD..."
18,ship-postal-code,49463,float64,110001.0,989898.0,469486.972582,500018.000000,NaN,NaN
19,ship-country,49463,object,NaN,NaN,NaN,NaN,NaN,"[IN, nan]"
20,promotion-ids,98583,object,NaN,NaN,NaN,NaN,NaN,"[IN Core Free Shipping 2015/04/08 23-48-5-108,..."
21,B2B,49430,object,NaN,NaN,NaN,NaN,NaN,"[False, True, nan]"
22,fulfilled-by,139128,object,NaN,NaN,NaN,NaN,NaN,"[Easy Ship, nan]"
23,Unnamed: 22,98480,object,NaN,NaN,NaN,NaN,NaN,"[False, nan]"
24,Shiprocket,178384,object,NaN,NaN,NaN,NaN,NaN,"[Customer Complaints, Returns, Customer Return..."
25,Unnamed: 1,178358,object,NaN,NaN,NaN,NaN,NaN,[â€¢Â Outbound throughput is subject to a cut-of...
26,INCREFF,178377,object,NaN,NaN,NaN,NaN,NaN,"[Rs 0.15/- Per Day, â€¢ Print the invoice as gen..."
27,Recived Amount,178399,object,NaN,NaN,NaN,NaN,NaN,"[06-22-22, Particular, Total, 06-19-22, 06-20-..."
28,Expance,178390,object,NaN,NaN,NaN,NaN,NaN,"[Auto Rent, Food, Expomart Labour Charge, Delh..."
29,Unnamed: 3,178388,object,NaN,NaN,NaN,NaN,NaN,"[5000, 400, 8095, 120, 839, 800, 1290, 170, 70..."
30,DATE,140974,object,NaN,NaN,NaN,NaN,NaN,"[08-16-21, 03-26-22, TURGAH MUTHU KUMAR, TANUS..."
31,Months,140998,object,NaN,NaN,NaN,NaN,NaN,"[07-01-21, Nov-21, 10-11-21, Sep-21, 02-05-22,..."
32,CUSTOMER,142013,object,NaN,NaN,NaN,NaN,NaN,"[COTTON CLOSET LTD, MOHANA KARTHIK , Jan-22, J..."
33,PCS,142013,object,NaN,NaN,NaN,NaN,NaN,"[454.35, 7459.0, 1.00, 356.25, 1.0, 825.0, 155..."
34,RATE,142013,object,NaN,NaN,NaN,NaN,NaN,"[404.0, 1450.0, 738.0, 1350.0, 462.0, 1313.0, ..."
35,GROSS AMT,142013,object,NaN,NaN,NaN,NaN,NaN,"[650.0, 6.0, 24.0, 81.0, 808.0, 5.0, 32.0, 528..."
36,Sku,175745,object,NaN,NaN,NaN,NaN,NaN,"[Os185_1105_XL, Os1147_3XL, IVORY-1426_XL, Os1..."
37,Style Id,175745,object,NaN,NaN,NaN,NaN,NaN,"[Os147_15288, Os1119, Os187_5073, Os174_3155, ..."
38,Catalog,175745,object,NaN,NaN,NaN,NaN,NaN,"[Mix, Surmaya, Nill, Rozana, Moments, Breeze-4..."
39,Weight,175745,object,NaN,NaN,NaN,NaN,NaN,"[0.4, 0.3, 0.2, Nill, nan, 0.3, 0.4, 0.2]"
40,TP,177075,object,NaN,NaN,NaN,NaN,NaN,"[438, 424, 498, 975, 425, 895, 485, 818, 995, ..."
41,MRP Old,175745,object,NaN,NaN,NaN,NaN,NaN,"[2495, 2298, 1695, 2695, 2795, 1995, 2295, 203..."
42,Final MRP Old,175745,object,NaN,NaN,NaN,NaN,NaN,"[2795, 199, 1995, 1895, 1795, 2495, 3149, 2295..."
43,Ajio MRP,175745,object,NaN,NaN,NaN,NaN,NaN,"[2495, 2395, 2295, 1995, 2097, 2195, 1595, 309..."
44,Amazon MRP,175745,object,NaN,NaN,NaN,NaN,NaN,"[2097, 1995, 1895, 2795, 5395, 2295, 1595, 249..."
45,Amazon FBA MRP,175745,object,NaN,NaN,NaN,NaN,NaN,"[1895, 2195, 2295, 2795, 299, 2097, 1595, 2495..."
46,Flipkart MRP,175745,object,NaN,NaN,NaN,NaN,NaN,"[4049, 1895, 498, 1695, 1995, 1795, 2295, 2050..."
47,Limeroad MRP,175745,object,NaN,NaN,NaN,NaN,NaN,"[1595, 1695, 2395, 1895, 2295, 2495, 1995, 219..."
48,Myntra MRP,175745,object,NaN,NaN,NaN,NaN,NaN,"[2495, 3195, 1895, 2295, 2494, 1250, 2995, 199..."
49,Paytm MRP,175745,object,NaN,NaN,NaN,NaN,NaN,"[1795, 2197, 2295, 2097, 1595, 1895, 1695, Nil..."
50,Snapdeal MRP,175745,object,NaN,NaN,NaN,NaN,NaN,"[2495, 4895, 1795, 2195, 2395, 2494, 2795, 229..."
51,TP 1,177075,object,NaN,NaN,NaN,NaN,NaN,"[425, 424, 505, 540, 467, 395, 650, 940, 381, ..."
52,TP 2,177075,object,NaN,NaN,NaN,NaN,NaN,"[435.78, 319.95, 1048.95, 684.45, 526.50, 364...."
53,SKU Code,169217,object,NaN,NaN,NaN,NaN,NaN,"[JNE3854-KR-XL, SET062-KR-SP-XXL, JNE3608-KR-X..."
54,Design No.,169170,object,NaN,NaN,NaN,NaN,NaN,"[JNE3750, JNE3622, SET239, J0226, MEN5017, JNE..."
55,Stock,169170,float64,0.0,1234.0,17.690382,16.671903,NaN,NaN
56,Color,169179,object,NaN,NaN,NaN,NaN,NaN,"[Mauve, Pink, OFF WHITE, Cream, Green, Dark Bl..."

In [43]:
def fill_missing_with_iqr_random(df, seed=42):
    """
    Fill missing values in numeric columns with random values
    between the 25th and 75th percentiles (IQR), only at missing positions.

    Parameters:
        df (pd.DataFrame): Input DataFrame.
        seed (int): Random seed for reproducibility.

    Returns:
        pd.DataFrame: DataFrame with filled missing numeric values.
    """
    np.random.seed(seed)
    df_filled = df.copy()

    for col in df_filled.select_dtypes(include=[np.number]).columns:
        q1 = df_filled[col].quantile(0.25)
        q3 = df_filled[col].quantile(0.75)
        missing_mask = df_filled[col].isna()

        if missing_mask.any():
            df_filled.loc[missing_mask, col] = np.random.uniform(q1, q3, size=missing_mask.sum())

    return df_filled

In [44]:
# prompt: append it to a new .csv file and check for missing values

# Assuming 'data' DataFrame from the previous code is available

# Save the DataFrame to a CSV file, appending if the file exists
# Import os for operating system related operations
data.to_csv('e-commerce.csv', index=False, mode='a', header=not os.path.exists('e-commerce.csv'))

# Check for missing values after appending
# Load dataset using pandas
ecom = pd.read_csv('e-commerce.csv')
missing_values = ecom.isnull().sum()
print(missing_values)

# Example of filling missing numeric values using the provided function
ecom_filled = fill_missing_with_iqr_random(ecom)

# Verify that missing numeric values are filled
missing_values_after_fill = ecom_filled.isnull().sum()
missing_values_after_fill

index                      0
Order ID               98860
Date                   98860
Status                 98860
Fulfilment             98860
Sales Channel          98860
ship-service-level     98860
Style                  26076
SKU                    28944
Category               75088
Size                    7606
ASIN                   98860
Courier Status        112604
Qty                    98860
currency              114450
Amount                114450
ship-city              98926
ship-state             98926
ship-postal-code       98926
ship-country           98926
promotion-ids         197166
B2B                    98860
fulfilled-by          278256
Unnamed: 22           196960
Shiprocket            356768
Unnamed: 1            356716
INCREFF               356754
Recived Amount        356798
Expance               356780
Unnamed: 3            356776
DATE                  281948
Months                281996
CUSTOMER              284026
PCS                   284026
RATE                  284026
GROSS AMT             284026
Sku                   351490
Style Id              351490
Catalog               351490
Weight                351490
TP                    354150
MRP Old               351490
Final MRP Old         351490
Ajio MRP              351490
Amazon MRP            351490
Amazon FBA MRP        351490
Flipkart MRP          351490
Limeroad MRP          351490
Myntra MRP            351490
Paytm MRP             351490
Snapdeal MRP          351490
TP 1                  354150
TP 2                  354150
SKU Code              338434
Design No.            338340
Stock                 338340
Color                 338358
dtype: int64

index                      0
Order ID               98860
Date                   98860
Status                 98860
Fulfilment             98860
Sales Channel          98860
ship-service-level     98860
Style                  26076
SKU                    28944
Category               75088
Size                    7606
ASIN                   98860
Courier Status        112604
Qty                        0
currency              114450
Amount                     0
ship-city              98926
ship-state             98926
ship-postal-code           0
ship-country           98926
promotion-ids         197166
B2B                    98860
fulfilled-by          278256
Unnamed: 22           196960
Shiprocket            356768
Unnamed: 1            356716
INCREFF               356754
Recived Amount        356798
Expance               356780
Unnamed: 3            356776
DATE                  281948
Months                281996
CUSTOMER              284026
PCS                   284026
RATE                  284026
GROSS AMT             284026
Sku                   351490
Style Id              351490
Catalog               351490
Weight                351490
TP                    354150
MRP Old               351490
Final MRP Old         351490
Ajio MRP              351490
Amazon MRP            351490
Amazon FBA MRP        351490
Flipkart MRP          351490
Limeroad MRP          351490
Myntra MRP            351490
Paytm MRP             351490
Snapdeal MRP          351490
TP 1                  354150
TP 2                  354150
SKU Code              338434
Design No.            338340
Stock                      0
Color                 338358
dtype: int64

In [45]:
# Fill in numeric columns
for col in ecom.select_dtypes(include='number'):
    q1 = ecom[col].quantile(0.25)
    q3 = ecom[col].quantile(0.75)
    mask = ecom[col].isna()
    ecom.loc[mask, col] = np.random.uniform(q1, q3, size=mask.sum())

# Fill in categorical columns with similar ratios
for col in ecom.select_dtypes(include='object'):
    if ecom[col].isnull().sum() > 0:
        probs = ecom[col].value_counts(normalize=True)
        fill_values = np.random.choice(probs.index, size=ecom[col].isna().sum(), p=probs.values)
        ecom.loc[ecom[col].isna(), col] = fill_values

# Confirm nulls are gone
print(ecom.isnull().sum())

# Save
# Save the combined DataFrame as a CSV file
ecom.to_csv('e-commerce.csv', index=False)

index                 0
Order ID              0
Date                  0
Status                0
Fulfilment            0
Sales Channel         0
ship-service-level    0
Style                 0
SKU                   0
Category              0
Size                  0
ASIN                  0
Courier Status        0
Qty                   0
currency              0
Amount                0
ship-city             0
ship-state            0
ship-postal-code      0
ship-country          0
promotion-ids         0
B2B                   0
fulfilled-by          0
Unnamed: 22           0
Shiprocket            0
Unnamed: 1            0
INCREFF               0
Recived Amount        0
Expance               0
Unnamed: 3            0
DATE                  0
Months                0
CUSTOMER              0
PCS                   0
RATE                  0
GROSS AMT             0
Sku                   0
Style Id              0
Catalog               0
Weight                0
TP                    0
MRP Old               0
Final MRP Old         0
Ajio MRP              0
Amazon MRP            0
Amazon FBA MRP        0
Flipkart MRP          0
Limeroad MRP          0
Myntra MRP            0
Paytm MRP             0
Snapdeal MRP          0
TP 1                  0
TP 2                  0
SKU Code              0
Design No.            0
Stock                 0
Color                 0
dtype: int64

In [46]:
# Check the data types of potential date columns
date_columns = ['Date', 'DATE', 'Months']  # Add any additional date columns if needed

# Preview the first few rows of the dataset
ecom[date_columns].head()

       Date                DATE    Months
0  04-30-22            08-16-21  07-01-21
1  04-30-22            03-26-22    Nov-21
2  04-30-22  TURGAH MUTHU KUMAR  10-11-21
3  04-30-22   TANUSREE MAJUMDER    Sep-21
4  04-30-22            11-29-21  02-05-22

In [47]:
# Import pandas for data manipulation and analysis
import pandas as pd
# Import numpy for numerical operations
import numpy as np

# Function to clean a date column with corrupted string entries
def clean_date_column(df, column_name):
    # Step 1: Convert to datetime, coercing invalid values to NaT
    df[column_name] = pd.to_datetime(df[column_name], errors='coerce')

    # Step 2: Drop NaTs for percentile calculation
    valid_dates = df[column_name].dropna()

    if len(valid_dates) == 0:
        print(f"No valid dates found in '{column_name}' to generate replacements.")
        return df

    # Step 3: Calculate percentiles
    p25 = valid_dates.quantile(0.25)
    p75 = valid_dates.quantile(0.75)

    # Step 4: Generate random dates and fill NaT
    mask = df[column_name].isna()
    random_dates = pd.to_datetime(
        np.random.uniform(p25.value, p75.value, size=mask.sum())
    ).floor('D')

    df.loc[mask, column_name] = random_dates
    print(f"{mask.sum()} invalid entries in '{column_name}' replaced with random dates.")

    return df

# Apply to all target columns
ecom = clean_date_column(ecom, 'Date')
ecom = clean_date_column(ecom, 'DATE')
ecom = clean_date_column(ecom, 'Months')

0 invalid entries in 'Date' replaced with random dates.
358777 invalid entries in 'DATE' replaced with random dates.
375319 invalid entries in 'Months' replaced with random dates.

In [48]:
# Check the data types of potential date columns
date_columns = ['Date', 'DATE', 'Months']  # Add any additional date columns if needed

# Preview the first few rows of the dataset
ecom[date_columns].head()

        Date       DATE     Months
0 2022-04-30 2021-08-16 2021-07-01
1 2022-04-30 2022-03-26 2022-02-17
2 2022-04-30 2021-10-26 2021-10-11
3 2022-04-30 2022-02-05 2021-10-17
4 2022-04-30 2021-11-29 2022-02-05

In [49]:
# Drop 'DATE' and 'Months' columns
ecom.drop(columns=['DATE', 'Months'], inplace=True)

# Confirm they've been dropped
print(ecom.columns)

Index(['index', 'Order ID', 'Date', 'Status', 'Fulfilment', 'Sales Channel ',
       'ship-service-level', 'Style', 'SKU', 'Category', 'Size', 'ASIN',
       'Courier Status', 'Qty', 'currency', 'Amount', 'ship-city',
       'ship-state', 'ship-postal-code', 'ship-country', 'promotion-ids',
       'B2B', 'fulfilled-by', 'Unnamed: 22', 'Shiprocket', 'Unnamed: 1',
       'INCREFF', 'Recived Amount', 'Expance', 'Unnamed: 3', 'CUSTOMER', 'PCS',
       'RATE', 'GROSS AMT', 'Sku', 'Style Id', 'Catalog', 'Weight', 'TP',
       'MRP Old', 'Final MRP Old', 'Ajio MRP', 'Amazon MRP', 'Amazon FBA MRP',
       'Flipkart MRP', 'Limeroad MRP', 'Myntra MRP', 'Paytm MRP',
       'Snapdeal MRP', 'TP 1', 'TP 2', 'SKU Code', 'Design No.', 'Stock',
       'Color'],
      dtype='object')

In [50]:
# Ensure the 'Date' column is in datetime format
ecom['Date'] = pd.to_datetime(ecom['Date'], errors='coerce')

# Now extract time features
ecom['Year'] = ecom['Date'].dt.year
ecom['Month'] = ecom['Date'].dt.month
ecom['Day'] = ecom['Date'].dt.day
ecom['Weekday'] = ecom['Date'].dt.weekday  # 0 = Monday, 6 = Sunday
ecom['Week'] = ecom['Date'].dt.isocalendar().week
ecom['Quarter'] = ecom['Date'].dt.quarter

In [51]:
print(ecom.columns.tolist())
# Save the combined DataFrame as a CSV file
ecom.to_csv('train&testdata.csv', index=False)

['index', 'Order ID', 'Date', 'Status', 'Fulfilment', 'Sales Channel ', 'ship-service-level', 'Style', 'SKU', 'Category', 'Size', 'ASIN', 'Courier Status', 'Qty', 'currency', 'Amount', 'ship-city', 'ship-state', 'ship-postal-code', 'ship-country', 'promotion-ids', 'B2B', 'fulfilled-by', 'Unnamed: 22', 'Shiprocket', 'Unnamed: 1', 'INCREFF', 'Recived Amount', 'Expance', 'Unnamed: 3', 'CUSTOMER', 'PCS', 'RATE', 'GROSS AMT', 'Sku', 'Style Id', 'Catalog', 'Weight', 'TP', 'MRP Old', 'Final MRP Old', 'Ajio MRP', 'Amazon MRP', 'Amazon FBA MRP', 'Flipkart MRP', 'Limeroad MRP', 'Myntra MRP', 'Paytm MRP', 'Snapdeal MRP', 'TP 1', 'TP 2', 'SKU Code', 'Design No.', 'Stock', 'Color', 'Year', 'Month', 'Day', 'Weekday', 'Week', 'Quarter']

In [52]:
# Import pandas for data manipulation and analysis
import pandas as pd
# Import numpy for numerical operations
import numpy as np
# Import train_test_split for splitting data into train/test sets
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
import xgboost as xgb
# Import MSE for regression evaluation
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# Assuming ecom is already loaded
# Load dataset using pandas
ecom = pd.read_csv('train&testdata.csv')  # Load if not already loaded

def preprocess_data(df):
    print("Starting preprocessing...", flush=True)
    if 'Amount' not in df.columns:
        raise KeyError("Target column 'Amount' not found.")

    y = df['Amount']
    X = df.copy()

    categorical_cols = X.select_dtypes(include=['object', 'bool']).columns.tolist()
    print(f"Categorical columns: {categorical_cols}", flush=True)

    label_encoders = {}
    for col in categorical_cols:
        print(f"Encoding: {col}", flush=True)
        X[col] = X[col].astype(str)
        X[col] = X[col].fillna('NA')
        le = LabelEncoder()
        X[col] = le.fit_transform(X[col])
        label_encoders[col] = le

    numeric_cols = X.select_dtypes(include=[np.number]).columns.tolist()
    for col in numeric_cols:
        X[col] = X[col].fillna(X[col].median())

    print("Preprocessing complete.", flush=True)
    return X, y, label_encoders

def train_and_evaluate(X, y):
    print("Splitting data and training model...", flush=True)
# Import train_test_split for splitting data into train/test sets
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

    model = xgb.XGBRegressor(objective='reg:squarederror',
                             n_estimators=200,
                             learning_rate=0.1,
                             random_state=42)

    model.fit(X_train, y_train)

    y_pred = model.predict(X_test)

    mae = mean_absolute_error(y_test, y_pred)
# Import MSE for regression evaluation
    mse = mean_squared_error(y_test, y_pred)
    r2 = r2_score(y_test, y_pred)

    print("Model evaluation metrics:", flush=True)
    print(f"MAE: {mae:.2f}", flush=True)
    print(f"MSE: {mse:.2f}", flush=True)
    print(f"RÂ²: {r2:.3f}", flush=True)

    return model

# Run the workflow
X, y, label_encoders = preprocess_data(ecom)
model = train_and_evaluate(X, y)

Starting preprocessing...
Categorical columns: ['Order ID', 'Date', 'Status', 'Fulfilment', 'Sales Channel ', 'ship-service-level', 'Style', 'SKU', 'Category', 'Size', 'ASIN', 'Courier Status', 'currency', 'ship-city', 'ship-state', 'ship-country', 'promotion-ids', 'B2B', 'fulfilled-by', 'Unnamed: 22', 'Shiprocket', 'Unnamed: 1', 'INCREFF', 'Recived Amount', 'Expance', 'Unnamed: 3', 'CUSTOMER', 'PCS', 'RATE', 'GROSS AMT', 'Sku', 'Style Id', 'Catalog', 'Weight', 'TP', 'MRP Old', 'Final MRP Old', 'Ajio MRP', 'Amazon MRP', 'Amazon FBA MRP', 'Flipkart MRP', 'Limeroad MRP', 'Myntra MRP', 'Paytm MRP', 'Snapdeal MRP', 'TP 1', 'TP 2', 'SKU Code', 'Design No.', 'Color']
Encoding: Order ID
Encoding: Date
Encoding: Status
Encoding: Fulfilment
Encoding: Sales Channel
Encoding: ship-service-level
Encoding: Style
Encoding: SKU
Encoding: Category
Encoding: Size
Encoding: ASIN
Encoding: Courier Status
Encoding: currency
Encoding: ship-city
Encoding: ship-state
Encoding: ship-country
Encoding: promotion-ids
Encoding: B2B
Encoding: fulfilled-by
Encoding: Unnamed: 22
Encoding: Shiprocket
Encoding: Unnamed: 1
Encoding: INCREFF
Encoding: Recived Amount
Encoding: Expance
Encoding: Unnamed: 3
Encoding: CUSTOMER
Encoding: PCS
Encoding: RATE
Encoding: GROSS AMT
Encoding: Sku
Encoding: Style Id
Encoding: Catalog
Encoding: Weight
Encoding: TP
Encoding: MRP Old
Encoding: Final MRP Old
Encoding: Ajio MRP
Encoding: Amazon MRP
Encoding: Amazon FBA MRP
Encoding: Flipkart MRP
Encoding: Limeroad MRP
Encoding: Myntra MRP
Encoding: Paytm MRP
Encoding: Snapdeal MRP
Encoding: TP 1
Encoding: TP 2
Encoding: SKU Code
Encoding: Design No.
Encoding: Color
Preprocessing complete.
Splitting data and training model...
Model evaluation metrics:
MAE: 1.08
MSE: 27.24
RÂ²: 1.000